@import "mixin";
@import "../base/variables";

@media screen and (max-width:1024px) {
    main{
        margin: 15px 15px;
        .inicio-container{
            .div-div-inicio-container{
                .inicio-container{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    html{
        font-size: 0.9rem;
        main{
            margin: 3%;
            .section-banner-container{
                padding: 0.6rem;
                .banner-container{
                    .banner{
                        height: 8rem;
                        object-fit: cover;
                    }
                }
            }
            .inicio-container{
                margin: auto;
                #inicio-container-special{
                    flex-direction: column-reverse;
                }
                .div-div-inicio-container{
                    .div-inicio-container{
                        max-width: 100%;
                        width: 100%;
                        padding: 15px;
                        
                    }
                }
            }
            .section-places-container{
                grid-template-columns: repeat(1, 1fr);
            }
            .contact-container{
                display: flex;
                flex-wrap: wrap;
                .div-contact-title{
                    width: 100%;
                    justify-content: center;
                    .title-contact-container{
                        .contact-title{
                            h1{
                                text-align: center;
                            }
                        }
                    }
                }
                .div-contact-form{
                    width: 100%;
                    justify-content: center;
                    .form-contact-container{
                        form{
                            width: 100%;
                            div{
                                .field{
                                    width: 100%;
                                    margin: 0;
                                }
                                .send-field{
                                    width: 100%;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            p{
                font-size: 1rem;
                margin: 0.8rem;
            }
        }
    }
}